/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #030e51;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #6e53dc;
    color: #fff;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

main {
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #090202;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.post {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.post h2 {
    color: #333;
}

.post p {
    color: #555;
}
